*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url(ST.jpg);
    
}
h1{
    
    text-align: center;
    color: blanchedalmond;
    margin-top: 30px;
   
}

.box{
    width:65vw ;
    height: 84vh;
    border: 3px solid whitesmoke;
    background-color: black;
    border-radius: 30px;
    margin-top: 1px;

}
.container-fluid a h1{
    color: green;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    
}
label{
    color: whitesmoke;
    font-size: larger;
    font-weight: 500;
    margin-top: 20px;
    padding-left: 20px;
    
}
input{
    width: 50%;
    text-align: center;
    height: 30px;
    padding:1rem;
    margin:0.8rem 0;
    border: 2px solid green;
    border-radius: 30px;
}
.btn{
    width: 50%;
    background-color: green;
    color: white;
    font-weight: 600;
    font-size: larger;
    border-radius: 30px;
    margin:0.9rem 0;

}
.btn :hover{
    background-color: skyblue;
    color: black;
    animation:ease-in;
}



